<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.html') %>
    <title><%= title%></title>
</head>
<body>
    <div class="ajuste">
        <%- include('partials/navigation.html') %>
        <div class="slider">
            <h1>DO YOU NEED A <br>
                TECHNICAL ARCHITECT?
            </h1>
            <a href="/services" class="boton1">SEE MORE</a>
        </div>
        <div class="contenido">
            <div class="cont1">
                <div class="leg">
                    <h3>OUR OBJETIVE</h3>
                    <p>Every day, we see incredible projects and the imaginative design experiences that our talented
                        is creating for people living, working, and thriving in cities all over
                        the world.</p>
                </div>
                <div class="ima">
                    <img src="img/fondo.jpg" alt="ima-1">
                </div>
            </div>
            <div class="cont1">
                <div class="leg">
                    <h3>ABOUT US</h3>
                        <p>We reflect our knowledge of how people and organizations use and experience place and space.
                            We
                            work collaboratively with clients, communities and end users to create buildings that work
                            well
                            on every level, inside and out.
                        </p>
                </div>
                <div class="ima">
                    <img src="img/fondo9.jpg" alt="ima-1">
                </div>
            </div>
           
        </div>

        <%- include('partials/footer.html') %>
    </div>
</body>
</html>