/*FONTS*/
@font-face {
   font-family: "Notable-Regular.ttf";
   src: url(../fonts/Notable-Regular.ttf);
}
 @font-face {
   font-family: "Staatliches-Regular.ttf";
   src: url(../fonts/Staatliches-Regular.ttf);
}
*{
   margin: 0;
   font-family: "Staatliches-Regular.ttf";
   padding: 0;
   width: 100%;
   color: black;
}

.ajuste{
   width: 100%;
}
/*NAVBAR*/
.boton{
  display: none;
}
#nav1{
   display: none;
   position: absolute;
   margin-top: -100%;
}
#nav{
  position: absolute;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.90);
  position: fixed;
  display: block; 
}
#nav ul{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   text-align: center;
   justify-items: center;
   align-items: center;
}  
   #nav ul li{
      list-style: none;
      font-size: 15px;
      display: block;
      height: 50px;
      width: 100%;   
   }
   #nav ul li a{
      height: 50px;
      color: white;
      font-weight: 500;
      display: block;
      display: grid;
      justify-items: center;
      align-items: center;
      text-decoration: none;
      font-family: "Staatliches-Regular.ttf";
   }
   #nav ul li a:hover{
      text-decoration: none;
      color: black;
      background-color: white;
   }
   .slider{
      background-image: url('../img/fondo10.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 70% 30%;
      height: 800px;
      justify-items: center;
      align-items: center;
   }
   .slider h1{
      color: black;
      font-size: 80px;
      width: 100%;
      text-align: center;
      margin-top: 50px;
      font-weight: 900;
      font-family: "Notable-Regular.ttf";
   }
   .slider a{
      width: 140px;
      height: 140px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.85);
      display: grid;
      align-items: center;
      justify-items: center;
      color: white;
      font-weight: 500;
      font-size: 25px;
      text-decoration: none;
   }
   .slider a:hover{
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.95);
      color: white;
      width: 150px;
      height: 150px;
   }
   .cont1{
      display: grid;
      align-items: center;
      grid-template-rows: 25% 75%;
      height: 600px;
      background-color: rgba(0, 0, 0, 0.15);
   }
   .ima{
      height: 450px;
   }
   .ima iframe{
      height: 450px;
   }
   .ima img{
      height: 450px;
      width: 70%;
      margin-left: 15%;
   }
 
   .leg{
      width: 70%;
      margin-top: 30px;
      margin-left: 15%;
      height: 150px;
      display: grid;
      grid-template-rows: 30% 70%;
      align-items: center;
   }
   .leg h3{
      height: 30px;
      font-size: 25px;
   }
   .leg p{
      height: 120px;
      font-size: 15px;
   }
   /*FORMULARIO*/
   .formulario{
      width: 100%;
      height: 700px;
      background-image: url(../img/slider3.jpg);
      display: grid;
      align-items: center;
      background-size: cover;
      background-position: center;
   }
   .formulario form{
      width: 50%;
      height: 400px;
      margin-left: 25%;
      display: grid;
      align-items: center;
      border: 1px solid black;
      background-color: rgba(0, 0, 0, 0.90);
   }
   form h3{
      color: white;
      font-size: 25px;
      width: 80%;
      margin-left: 10%;
   }
   form input{
      margin-left: 10%;
      width: 80%;
      height: 40px;
      font-size: 17.5px;
      background-color:rgba(0, 0, 0, 0.20);
      color: white;
      padding-left: 5px;
   }
   form button{
      margin-left: 30%;
      width: 40%;
      height: 40px;
      font-size: 25px;
   }
   form button:hover{
      cursor: pointer;
   }
   /*FOOTER*/
   footer{
      display: grid;
      grid-template-rows: 50% 50%;
      height: 100px;
   }
   .exe{
      display: grid;
      grid-template-columns: 50% 50%;
      height: 50px;
      background-color:  rgba(0, 0, 0, 0.70);
      align-items: center;
   }
   .exe p{
      font-size: 15px;
      text-align: center;
   }
   .logo img{
      width: 25px;
      height: 25px;
   }
   .redes{
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      height: 50px;
      align-items: center;
      justify-items: center;
      background-color:  rgba(0, 0, 0, 0.60);
   }
   .redes a{
      width: 25px;
      height: 25px;
   }
   .redes a:hover{
      cursor: pointer;
   }
   /*CONTACT*/
   .contact{
      display: grid;
      grid-template-rows: 50% 50%;
      height: 200px;
      background-color: rgba(0, 0, 0, 0.80);
   }
   .phone{
      display: grid;
      height: 100px;
      grid-template-columns: 20% 80%;
      align-items: center;
      justify-items: center;
     
   }
   .phone a{
      height: 100px;
      display: grid;
      align-items: center;
      justify-items: center;
   }
   .phone a img{
      height: 30px;
      width: 30px;
   }
   .phone p{
      font-size: 20px;
      text-align: center;
      color: white;
   }
   .mail{
      display: grid;
      height: 100px;
      grid-template-columns: 20% 80%;
      align-items: center;
      justify-items: center;
     
   }
   .mail a{
      height: 100px;
      display: grid;
      align-items: center;
      justify-items: center;
   }
   .mail a img{
      height: 30px;
      width: 30px;
   }
   .mail p{
      font-size: 20px;
      text-align: center;
      color: white;
   }
   /*CARROUSEL*/
   .carousel {
      width: 100%;
      height: 500px;
      align-items: center;
      justify-items: center;
      background-size: cover;
      background-repeat: no-repeat;
   }
   #retroceder{
     width: 50px;
     height: 50px;
     border-radius: 50%;
     margin-left: 30%;
     position: absolute;
     margin-top: 450px;
     font-size: 20px;
     background-color: black;
     color: white;
     display: grid;
     align-items: center;
     justify-items: center;
  }
  #retroceder:hover{
     cursor: pointer;
  }
  #avanzar{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   margin-left: 70%;
   position: absolute;
   margin-top: 450px;
   font-size: 20px;
   background-color: black;
   color: white;
   display: grid;
   align-items: center;
   justify-items: center;
   }
   #avanzar:hover{
      cursor: pointer;
   }
  #imagen {
      width: 100%;
      height: 500px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  #play{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   margin-left: 15%;
   position: absolute;
   margin-top: 450px;
   font-size: 20px;
   background-color: black;
   color: white;
   display: grid;
   align-items: center;
   justify-items: center;
}
#play:hover{
   cursor: pointer;
}
#stop{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   margin-left: 85%;
   position: absolute;
   margin-top: 450px;
   font-size: 20px;
   background-color: black;
   color: white;
   display: grid;
   align-items: center;
   justify-items: center;
}
#stop:hover{
   cursor: pointer;
}
.imagen .services p{
   position: absolute;
}

/*SERVICES*/
#services{
   height: 750px;
   display: grid;
   grid-template-rows: 1fr 1fr 1fr;
   align-items: center;
   justify-items: center;
   background-color: gray;
}

#services h3{
   font-size: 30px;
   width: 80%;
   margin-left: 10%;
}

#services p{
   font-size: 20px;
   width: 80%;
   margin-left: 10%;
}

@media (max-width: 768px){
   .boton{
      height: 50px;
      width: 50px;
      margin-left: 5%;
      margin-top: 15px;
      position: absolute;
      position: fixed;
      display: grid;
      align-items: center;
      justify-items: center;
      border-radius: 10%;
      }
   .imgbtn{   
      background-image: url(../icons/menu.svg);
      height: 40px;
      width: 40px;
      background-size: cover;
      }
   .boton:hover{
      cursor: pointer;
   }
   #nav{
      margin-top: -100%;
   }
   #nav1{
      margin-left: 60%;
      margin-top: 0;
      width: 40%;
      display: block;
      display: none;
      position: absolute;   
      position: fixed;
   }
   #nav1 ul{
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      height: 150px;
      background-color: rgba(0, 0, 0, 0.90);
   }

   #nav1 ul li{
      list-style: none;
      text-align: center;
   }

   #nav1 ul li a{
     text-decoration: none;
     display: block;
     color: white;
     height: 50px;
     display: grid;
     align-items: center;
   }

   
   #nav1 ul li a:hover{
      text-decoration: none;
      color: black;
      background-color: white;
   }   

   .slider{
      height: 600px;
   }

   .slider h1{
      font-size: 40px;
   }

   .formulario form{
      width: 75%;
      height: 400px;
      margin-left: 12.5%;
      display: grid;
      align-items: center;
      border: 1px solid black;
      background-color: rgba(0, 0, 0, 0.90);
}
.cont1{
   height: 400px;
   background-color: rgba(0, 0, 0, 0.15);
}
.ima{
   height: 300px;
}
.ima iframe{
   height: 300px;
}
.ima img{
   height: 300px;
   width: 100%;
   margin-left: 0;
}
.leg{
   width: 90%;
   margin-left: 5%;
   height: 100px;
   grid-template-rows: 20px 80px;
}
.leg h3{
   height: 20px;
   font-size: 20px;
}
.leg p{
   height: 80px;
   font-size: 13px;
}
#services{
   height: 600px;
}

#services h3{
   font-size: 20px;
   width: 90%;
   margin-left: 5%;
}

#services p{
   font-size: 15px;
   width: 90%;
   margin-left: 5%;
}
}